08_cloudera_cdp/lab/lab-resources/adaltas_cdp_lab_stock_flow.json
{
    "flowContents": {
        "identifier": "a6e63ab9-c8d0-3e7e-9086-31175e6671b9",
        "instanceIdentifier": "1e351b6d-0184-1000-0000-00001748bda2",
        "name": "Stocks_Intraday_Alpha_Template",
        "comments": "",
        "position": {
            "x": 1744.0,
            "y": 232.0
        },
        "processGroups": [
            {
                "identifier": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                "instanceIdentifier": "81bc2120-8100-3c86-9493-4b2e92246b57",
                "name": "Transform Stock Data and Store to S3",
                "comments": "",
                "position": {
                    "x": -8.0,
                    "y": -80.0
                },
                "processGroups": [],
                "remoteProcessGroups": [],
                "processors": [
                    {
                        "identifier": "9fe89199-cb1c-3fbf-b714-72b25afbc920",
                        "instanceIdentifier": "1bf7df0c-9107-3935-87fe-32e073e31092",
                        "name": "ConvertRecord",
                        "comments": "",
                        "position": {
                            "x": 1296.0,
                            "y": 1048.0
                        },
                        "type": "org.apache.nifi.processors.standard.ConvertRecord",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-nar",
                            "version": "1.18.0.2.3.6.2-2"
                        },
                        "properties": {
                            "record-writer": "d82914ab-c104-3b29-97d0-4fbad6e05bee",
                            "record-reader": "0dd7f2f8-4c59-376d-b5b7-f16faa279c1b",
                            "include-zero-record-flowfiles": "true"
                        },
                        "propertyDescriptors": {
                            "record-writer": {
                                "name": "record-writer",
                                "displayName": "Record Writer",
                                "identifiesControllerService": true,
                                "sensitive": false
                            },
                            "record-reader": {
                                "name": "record-reader",
                                "displayName": "Record Reader",
                                "identifiesControllerService": true,
                                "sensitive": false
                            },
                            "include-zero-record-flowfiles": {
                                "name": "include-zero-record-flowfiles",
                                "displayName": "Include Zero Record FlowFiles",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "f2be7df3-2275-3297-beb4-9e8851062ae1"
                    },
                    {
                        "identifier": "8086b664-7d83-3aca-b99e-3192c195fb03",
                        "instanceIdentifier": "c51d9bd6-db6e-3862-92d4-ec109eb3f541",
                        "name": "UpdateAttribute",
                        "comments": "",
                        "position": {
                            "x": 1303.9999994148025,
                            "y": 561.9999753847816
                        },
                        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-update-attribute-nar",
                            "version": "1.18.0.2.3.6.2-2"
                        },
                        "properties": {
                            "avro.schema": "{\n  \"type\": \"record\",\n  \"name\": \"StockIntraday\",\n  \"fields\": [\n    { \"name\": \"symbol\", \"type\": \"string\" },\n    { \"name\": \"last_refreshed\" , \"type\": { \"type\":\"long\", \"logicalType\":\"timestamp-millis\"} },\n    { \"name\": \"interval\", \"type\": \"string\" },\n    { \"name\": \"output_size\", \"type\": \"string\" },\n    { \"name\": \"time_zone\", \"type\": \"string\" },\n    { \"name\": \"ts\", \"type\": { \"type\":\"long\", \"logicalType\":\"timestamp-millis\"} },\n    { \"name\": \"open\", \"type\": \"float\" },\n    { \"name\": \"high\", \"type\": \"float\" },\n    { \"name\": \"low\", \"type\": \"float\" },\n    { \"name\": \"close\", \"type\": \"float\" },\n    { \"name\": \"volume\", \"type\": \"long\" }\n  ]\n} ",
                            "Delete Attributes Expression": null,
                            "Store State": "Do not store state",
                            "canonical-value-lookup-cache-size": "100",
                            "Stateful Variables Initial Value": null
                        },
                        "propertyDescriptors": {
                            "avro.schema": {
                                "name": "avro.schema",
                                "displayName": "avro.schema",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Delete Attributes Expression": {
                                "name": "Delete Attributes Expression",
                                "displayName": "Delete Attributes Expression",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Store State": {
                                "name": "Store State",
                                "displayName": "Store State",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "canonical-value-lookup-cache-size": {
                                "name": "canonical-value-lookup-cache-size",
                                "displayName": "Cache Value Lookup Cache Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Stateful Variables Initial Value": {
                                "name": "Stateful Variables Initial Value",
                                "displayName": "Stateful Variables Initial Value",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "f2be7df3-2275-3297-beb4-9e8851062ae1"
                    },
                    {
                        "identifier": "a0bf7f89-1956-3147-9e25-14b588f473d7",
                        "instanceIdentifier": "7f742a54-ddaa-38d9-ba53-869dc9e153a8",
                        "name": "MergeContent",
                        "comments": "",
                        "position": {
                            "x": 1296.0,
                            "y": 1240.0
                        },
                        "type": "org.apache.nifi.processors.standard.MergeContent",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-nar",
                            "version": "1.18.0.2.3.6.2-2"
                        },
                        "properties": {
                            "Keep Path": "false",
                            "Maximum Group Size": null,
                            "Merge Strategy": "Bin-Packing Algorithm",
                            "Attribute Strategy": "Keep Only Common Attributes",
                            "Compression Level": "1",
                            "Maximum Number of Entries": "1000",
                            "Minimum Group Size": "0 B",
                            "Maximum number of Bins": "5",
                            "Tar Modified Time": "${file.lastModifiedTime}",
                            "Delimiter Strategy": "Do Not Use Delimiters",
                            "Merge Format": "Binary Concatenation",
                            "Footer File": null,
                            "Max Bin Age": null,
                            "Demarcator File": null,
                            "Correlation Attribute Name": null,
                            "Header File": null,
                            "mergecontent-metadata-strategy": "Do Not Merge Uncommon Metadata",
                            "Minimum Number of Entries": "100"
                        },
                        "propertyDescriptors": {
                            "Keep Path": {
                                "name": "Keep Path",
                                "displayName": "Keep Path",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Maximum Group Size": {
                                "name": "Maximum Group Size",
                                "displayName": "Maximum Group Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Merge Strategy": {
                                "name": "Merge Strategy",
                                "displayName": "Merge Strategy",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Attribute Strategy": {
                                "name": "Attribute Strategy",
                                "displayName": "Attribute Strategy",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Compression Level": {
                                "name": "Compression Level",
                                "displayName": "Compression Level",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Maximum Number of Entries": {
                                "name": "Maximum Number of Entries",
                                "displayName": "Maximum Number of Entries",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Minimum Group Size": {
                                "name": "Minimum Group Size",
                                "displayName": "Minimum Group Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Maximum number of Bins": {
                                "name": "Maximum number of Bins",
                                "displayName": "Maximum number of Bins",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Tar Modified Time": {
                                "name": "Tar Modified Time",
                                "displayName": "Tar Modified Time",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Delimiter Strategy": {
                                "name": "Delimiter Strategy",
                                "displayName": "Delimiter Strategy",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Merge Format": {
                                "name": "Merge Format",
                                "displayName": "Merge Format",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Footer File": {
                                "name": "Footer File",
                                "displayName": "Footer",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "resourceDefinition": {
                                    "cardinality": "SINGLE",
                                    "resourceTypes": [
                                        "TEXT",
                                        "FILE"
                                    ]
                                }
                            },
                            "Max Bin Age": {
                                "name": "Max Bin Age",
                                "displayName": "Max Bin Age",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Demarcator File": {
                                "name": "Demarcator File",
                                "displayName": "Demarcator",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "resourceDefinition": {
                                    "cardinality": "SINGLE",
                                    "resourceTypes": [
                                        "TEXT",
                                        "FILE"
                                    ]
                                }
                            },
                            "Correlation Attribute Name": {
                                "name": "Correlation Attribute Name",
                                "displayName": "Correlation Attribute Name",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Header File": {
                                "name": "Header File",
                                "displayName": "Header",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "resourceDefinition": {
                                    "cardinality": "SINGLE",
                                    "resourceTypes": [
                                        "TEXT",
                                        "FILE"
                                    ]
                                }
                            },
                            "mergecontent-metadata-strategy": {
                                "name": "mergecontent-metadata-strategy",
                                "displayName": "Metadata Strategy",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Minimum Number of Entries": {
                                "name": "Minimum Number of Entries",
                                "displayName": "Minimum Number of Entries",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [
                            "original"
                        ],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "f2be7df3-2275-3297-beb4-9e8851062ae1"
                    },
                    {
                        "identifier": "7787f54f-553c-3b21-9efb-c856ac500ab8",
                        "instanceIdentifier": "d3c0899b-dbb3-34e5-afd0-32e1b600f76f",
                        "name": "SplitJson",
                        "comments": "",
                        "position": {
                            "x": 1296.0,
                            "y": 808.0
                        },
                        "type": "org.apache.nifi.processors.standard.SplitJson",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-nar",
                            "version": "1.18.0.2.3.6.2-2"
                        },
                        "properties": {
                            "Null Value Representation": "empty string",
                            "JsonPath Expression": "$.*"
                        },
                        "propertyDescriptors": {
                            "Null Value Representation": {
                                "name": "Null Value Representation",
                                "displayName": "Null Value Representation",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "JsonPath Expression": {
                                "name": "JsonPath Expression",
                                "displayName": "JsonPath Expression",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [
                            "original"
                        ],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "f2be7df3-2275-3297-beb4-9e8851062ae1"
                    },
                    {
                        "identifier": "0355534c-c85e-3f73-a1ab-9c19221806bc",
                        "instanceIdentifier": "4f0e5b6f-1b17-369a-bca3-f964f68d72d2",
                        "name": "UpdateAttribute",
                        "comments": "",
                        "position": {
                            "x": 1304.0,
                            "y": 1440.0
                        },
                        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-update-attribute-nar",
                            "version": "1.18.0.2.3.6.2-2"
                        },
                        "properties": {
                            "Delete Attributes Expression": null,
                            "filename": "${filename}${now():format(\"yyyyMMddHHmmss\")}",
                            "Store State": "Do not store state",
                            "canonical-value-lookup-cache-size": "100",
                            "Stateful Variables Initial Value": null
                        },
                        "propertyDescriptors": {
                            "Delete Attributes Expression": {
                                "name": "Delete Attributes Expression",
                                "displayName": "Delete Attributes Expression",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "filename": {
                                "name": "filename",
                                "displayName": "filename",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Store State": {
                                "name": "Store State",
                                "displayName": "Store State",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "canonical-value-lookup-cache-size": {
                                "name": "canonical-value-lookup-cache-size",
                                "displayName": "Cache Value Lookup Cache Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Stateful Variables Initial Value": {
                                "name": "Stateful Variables Initial Value",
                                "displayName": "Stateful Variables Initial Value",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "f2be7df3-2275-3297-beb4-9e8851062ae1"
                    },
                    {
                        "identifier": "33ed07dc-8193-3fc0-9875-809be9e86de0",
                        "instanceIdentifier": "1285adf2-2e45-3766-9ee4-b2190b48673e",
                        "name": "PutCDPObjectStore",
                        "comments": "",
                        "position": {
                            "x": 1320.0,
                            "y": 1808.0
                        },
                        "type": "org.apache.nifi.processors.hadoop.PutCDPObjectStore",
                        "bundle": {
                            "group": "com.cloudera",
                            "artifact": "nifi-cdf-objectstore-nar",
                            "version": "1.0.0.2.3.6.2-2"
                        },
                        "properties": {
                            "kerberos-credentials-service": null,
                            "cdp.configuration.resources": "/home/nifi/additional/secret/env_config/core-site.xml,/home/nifi/additional/secret/env_config/ssl-client.xml,/home/nifi/additional/secret/env_config/hive-site.xml",
                            "Kerberos Password": "#{workload_password}",
                            "cdp-storage-location": null,
                            "Kerberos Principal": "#{workload_username}",
                            "writing-strategy": "writeAndRename",
                            "Directory": "#{s3_path}/new",
                            "Conflict Resolution Strategy": "fail"
                        },
                        "propertyDescriptors": {
                            "kerberos-credentials-service": {
                                "name": "kerberos-credentials-service",
                                "displayName": "Kerberos Credentials Service",
                                "identifiesControllerService": true,
                                "sensitive": false
                            },
                            "cdp.configuration.resources": {
                                "name": "cdp.configuration.resources",
                                "displayName": "cdp.configuration.resources",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Kerberos Password": {
                                "name": "Kerberos Password",
                                "displayName": "CDP Password",
                                "identifiesControllerService": false,
                                "sensitive": true
                            },
                            "cdp-storage-location": {
                                "name": "cdp-storage-location",
                                "displayName": "Storage Location",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Kerberos Principal": {
                                "name": "Kerberos Principal",
                                "displayName": "CDP Username",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "writing-strategy": {
                                "name": "writing-strategy",
                                "displayName": "Writing Strategy",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Directory": {
                                "name": "Directory",
                                "displayName": "Directory",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Conflict Resolution Strategy": {
                                "name": "Conflict Resolution Strategy",
                                "displayName": "Conflict Resolution Strategy",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [
                            "success"
                        ],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "f2be7df3-2275-3297-beb4-9e8851062ae1"
                    }
                ],
                "inputPorts": [
                    {
                        "identifier": "322f86de-16a6-39ac-9b34-e19d743ec5af",
                        "instanceIdentifier": "6d446871-b626-34be-ad2a-0bdb45caaa3d",
                        "name": "Stock Data Values",
                        "position": {
                            "x": 1360.0,
                            "y": 448.0
                        },
                        "type": "INPUT_PORT",
                        "concurrentlySchedulableTaskCount": 1,
                        "scheduledState": "ENABLED",
                        "allowRemoteAccess": false,
                        "componentType": "INPUT_PORT",
                        "groupIdentifier": "f2be7df3-2275-3297-beb4-9e8851062ae1"
                    }
                ],
                "outputPorts": [
                    {
                        "identifier": "edf94af2-39bb-34fc-ba0a-3fdf04f01d24",
                        "instanceIdentifier": "258df782-c67c-39fd-bf29-0467d3375366",
                        "name": "failure",
                        "position": {
                            "x": 736.0,
                            "y": 1208.0
                        },
                        "type": "OUTPUT_PORT",
                        "concurrentlySchedulableTaskCount": 1,
                        "scheduledState": "ENABLED",
                        "allowRemoteAccess": false,
                        "componentType": "OUTPUT_PORT",
                        "groupIdentifier": "f2be7df3-2275-3297-beb4-9e8851062ae1"
                    }
                ],
                "connections": [
                    {
                        "identifier": "f84560bc-79c1-3e43-a783-b94a0416e833",
                        "instanceIdentifier": "e8ad2e1e-5923-3fff-9ca2-1caea57239fc",
                        "name": "",
                        "source": {
                            "id": "a0bf7f89-1956-3147-9e25-14b588f473d7",
                            "type": "PROCESSOR",
                            "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                            "name": "MergeContent",
                            "comments": "",
                            "instanceIdentifier": "7f742a54-ddaa-38d9-ba53-869dc9e153a8"
                        },
                        "destination": {
                            "id": "edf94af2-39bb-34fc-ba0a-3fdf04f01d24",
                            "type": "OUTPUT_PORT",
                            "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                            "name": "failure",
                            "instanceIdentifier": "258df782-c67c-39fd-bf29-0467d3375366"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "failure"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "f2be7df3-2275-3297-beb4-9e8851062ae1"
                    },
                    {
                        "identifier": "a29f37f4-36e8-3083-a2c3-8cefe7a0c0cf",
                        "instanceIdentifier": "2f481421-9c38-3fe1-890d-c6132b49aa17",
                        "name": "",
                        "source": {
                            "id": "9fe89199-cb1c-3fbf-b714-72b25afbc920",
                            "type": "PROCESSOR",
                            "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                            "name": "ConvertRecord",
                            "comments": "",
                            "instanceIdentifier": "1bf7df0c-9107-3935-87fe-32e073e31092"
                        },
                        "destination": {
                            "id": "edf94af2-39bb-34fc-ba0a-3fdf04f01d24",
                            "type": "OUTPUT_PORT",
                            "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                            "name": "failure",
                            "instanceIdentifier": "258df782-c67c-39fd-bf29-0467d3375366"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "failure"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "f2be7df3-2275-3297-beb4-9e8851062ae1"
                    },
                    {
                        "identifier": "55504234-839b-385d-8df2-8501f7c74a37",
                        "instanceIdentifier": "e0e7cea3-cfcd-321a-8f9e-b517489356f9",
                        "name": "",
                        "source": {
                            "id": "a0bf7f89-1956-3147-9e25-14b588f473d7",
                            "type": "PROCESSOR",
                            "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                            "name": "MergeContent",
                            "comments": "",
                            "instanceIdentifier": "7f742a54-ddaa-38d9-ba53-869dc9e153a8"
                        },
                        "destination": {
                            "id": "0355534c-c85e-3f73-a1ab-9c19221806bc",
                            "type": "PROCESSOR",
                            "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                            "name": "UpdateAttribute",
                            "comments": "",
                            "instanceIdentifier": "4f0e5b6f-1b17-369a-bca3-f964f68d72d2"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "merged"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "f2be7df3-2275-3297-beb4-9e8851062ae1"
                    },
                    {
                        "identifier": "c96e92b3-9ed6-39c5-9cba-3ddce3af1921",
                        "instanceIdentifier": "e21092ca-7a51-32bc-bd53-b315928bee86",
                        "name": "",
                        "source": {
                            "id": "33ed07dc-8193-3fc0-9875-809be9e86de0",
                            "type": "PROCESSOR",
                            "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                            "name": "PutCDPObjectStore",
                            "comments": "",
                            "instanceIdentifier": "1285adf2-2e45-3766-9ee4-b2190b48673e"
                        },
                        "destination": {
                            "id": "edf94af2-39bb-34fc-ba0a-3fdf04f01d24",
                            "type": "OUTPUT_PORT",
                            "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                            "name": "failure",
                            "instanceIdentifier": "258df782-c67c-39fd-bf29-0467d3375366"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "failure"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "f2be7df3-2275-3297-beb4-9e8851062ae1"
                    },
                    {
                        "identifier": "bc33d626-d47e-376c-b647-c4d8b78d9fc4",
                        "instanceIdentifier": "c16c36b0-6a6c-3400-accb-8059ed8922e2",
                        "name": "",
                        "source": {
                            "id": "7787f54f-553c-3b21-9efb-c856ac500ab8",
                            "type": "PROCESSOR",
                            "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                            "name": "SplitJson",
                            "comments": "",
                            "instanceIdentifier": "d3c0899b-dbb3-34e5-afd0-32e1b600f76f"
                        },
                        "destination": {
                            "id": "9fe89199-cb1c-3fbf-b714-72b25afbc920",
                            "type": "PROCESSOR",
                            "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                            "name": "ConvertRecord",
                            "comments": "",
                            "instanceIdentifier": "1bf7df0c-9107-3935-87fe-32e073e31092"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "split"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "f2be7df3-2275-3297-beb4-9e8851062ae1"
                    },
                    {
                        "identifier": "ef1d53f6-b982-3182-9599-8afb12a5ba02",
                        "instanceIdentifier": "408b5924-3684-3e11-9408-da2964a81c04",
                        "name": "",
                        "source": {
                            "id": "0355534c-c85e-3f73-a1ab-9c19221806bc",
                            "type": "PROCESSOR",
                            "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                            "name": "UpdateAttribute",
                            "comments": "",
                            "instanceIdentifier": "4f0e5b6f-1b17-369a-bca3-f964f68d72d2"
                        },
                        "destination": {
                            "id": "33ed07dc-8193-3fc0-9875-809be9e86de0",
                            "type": "PROCESSOR",
                            "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                            "name": "PutCDPObjectStore",
                            "comments": "",
                            "instanceIdentifier": "1285adf2-2e45-3766-9ee4-b2190b48673e"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "f2be7df3-2275-3297-beb4-9e8851062ae1"
                    },
                    {
                        "identifier": "204ab683-6468-398a-aea0-a6b803b51f5a",
                        "instanceIdentifier": "856e2c4f-e749-335a-9aca-c7dfe7787652",
                        "name": "",
                        "source": {
                            "id": "7787f54f-553c-3b21-9efb-c856ac500ab8",
                            "type": "PROCESSOR",
                            "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                            "name": "SplitJson",
                            "comments": "",
                            "instanceIdentifier": "d3c0899b-dbb3-34e5-afd0-32e1b600f76f"
                        },
                        "destination": {
                            "id": "edf94af2-39bb-34fc-ba0a-3fdf04f01d24",
                            "type": "OUTPUT_PORT",
                            "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                            "name": "failure",
                            "instanceIdentifier": "258df782-c67c-39fd-bf29-0467d3375366"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "failure"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "f2be7df3-2275-3297-beb4-9e8851062ae1"
                    },
                    {
                        "identifier": "becdf82b-4eeb-3c05-b119-5f9916a7c3ce",
                        "instanceIdentifier": "549f3f01-8818-371b-9d37-569ceb6d8b71",
                        "name": "",
                        "source": {
                            "id": "8086b664-7d83-3aca-b99e-3192c195fb03",
                            "type": "PROCESSOR",
                            "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                            "name": "UpdateAttribute",
                            "comments": "",
                            "instanceIdentifier": "c51d9bd6-db6e-3862-92d4-ec109eb3f541"
                        },
                        "destination": {
                            "id": "7787f54f-553c-3b21-9efb-c856ac500ab8",
                            "type": "PROCESSOR",
                            "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                            "name": "SplitJson",
                            "comments": "",
                            "instanceIdentifier": "d3c0899b-dbb3-34e5-afd0-32e1b600f76f"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "f2be7df3-2275-3297-beb4-9e8851062ae1"
                    },
                    {
                        "identifier": "ccdc31c6-6258-3c2a-a32b-4b1d453282e7",
                        "instanceIdentifier": "d65f19e5-765f-3b29-ae06-3b2a416cd983",
                        "name": "",
                        "source": {
                            "id": "322f86de-16a6-39ac-9b34-e19d743ec5af",
                            "type": "INPUT_PORT",
                            "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                            "name": "Stock Data Values",
                            "instanceIdentifier": "6d446871-b626-34be-ad2a-0bdb45caaa3d"
                        },
                        "destination": {
                            "id": "8086b664-7d83-3aca-b99e-3192c195fb03",
                            "type": "PROCESSOR",
                            "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                            "name": "UpdateAttribute",
                            "comments": "",
                            "instanceIdentifier": "c51d9bd6-db6e-3862-92d4-ec109eb3f541"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            ""
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "f2be7df3-2275-3297-beb4-9e8851062ae1"
                    },
                    {
                        "identifier": "678a2b50-b5b1-3edb-bc54-7abd6254aaab",
                        "instanceIdentifier": "e5812616-a11f-320f-8858-6eaf4ea1c617",
                        "name": "",
                        "source": {
                            "id": "9fe89199-cb1c-3fbf-b714-72b25afbc920",
                            "type": "PROCESSOR",
                            "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                            "name": "ConvertRecord",
                            "comments": "",
                            "instanceIdentifier": "1bf7df0c-9107-3935-87fe-32e073e31092"
                        },
                        "destination": {
                            "id": "a0bf7f89-1956-3147-9e25-14b588f473d7",
                            "type": "PROCESSOR",
                            "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                            "name": "MergeContent",
                            "comments": "",
                            "instanceIdentifier": "7f742a54-ddaa-38d9-ba53-869dc9e153a8"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "f2be7df3-2275-3297-beb4-9e8851062ae1"
                    }
                ],
                "labels": [],
                "funnels": [],
                "controllerServices": [],
                "variables": {},
                "parameterContextName": "Intraday_Stocks_Parameters",
                "defaultFlowFileExpiration": "0 sec",
                "defaultBackPressureObjectThreshold": 10000,
                "defaultBackPressureDataSizeThreshold": "1 GB",
                "flowFileConcurrency": "UNBOUNDED",
                "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
                "componentType": "PROCESS_GROUP",
                "groupIdentifier": "a6e63ab9-c8d0-3e7e-9086-31175e6671b9"
            },
            {
                "identifier": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced",
                "instanceIdentifier": "ec707005-2cc9-303c-9444-e0e80f6f8770",
                "name": "Request Alpha Vantage Api",
                "comments": "",
                "position": {
                    "x": -8.0,
                    "y": -408.0
                },
                "processGroups": [],
                "remoteProcessGroups": [],
                "processors": [
                    {
                        "identifier": "75e968de-2f1d-3692-9c55-263c29db5e9f",
                        "instanceIdentifier": "6f74f1fe-db79-37a7-88f2-9f7ebc163757",
                        "name": "ControlRate",
                        "comments": "",
                        "position": {
                            "x": 961.0000507339307,
                            "y": 657.9999753847815
                        },
                        "type": "org.apache.nifi.processors.standard.ControlRate",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-nar",
                            "version": "1.18.0.2.3.6.2-2"
                        },
                        "properties": {
                            "Time Duration": "1 sec",
                            "Grouping Attribute": null,
                            "Maximum Rate": "1",
                            "Rate Controlled Attribute": null,
                            "Rate Control Criteria": "flowfile count"
                        },
                        "propertyDescriptors": {
                            "Time Duration": {
                                "name": "Time Duration",
                                "displayName": "Time Duration",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Grouping Attribute": {
                                "name": "Grouping Attribute",
                                "displayName": "Grouping Attribute",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Maximum Rate": {
                                "name": "Maximum Rate",
                                "displayName": "Maximum Rate",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Rate Controlled Attribute": {
                                "name": "Rate Controlled Attribute",
                                "displayName": "Rate Controlled Attribute",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Rate Control Criteria": {
                                "name": "Rate Control Criteria",
                                "displayName": "Rate Control Criteria",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0.1 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"
                    },
                    {
                        "identifier": "40f3b0dc-6835-3226-9d1b-73df3f0f4588",
                        "instanceIdentifier": "bbc4c2ff-61a6-37a7-984a-e4565a5e8447",
                        "name": "InvokeHTTP",
                        "comments": "",
                        "position": {
                            "x": 960.0,
                            "y": 864.0
                        },
                        "type": "org.apache.nifi.processors.standard.InvokeHTTP",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-nar",
                            "version": "1.18.0.2.3.6.2-2"
                        },
                        "properties": {
                            "Proxy Host": null,
                            "Attributes to Send": null,
                            "use-etag": "false",
                            "proxy-configuration-service": null,
                            "Proxy Type": "http",
                            "cookie-strategy": "DISABLED",
                            "Connection Timeout": "5 secs",
                            "send-message-body": "true",
                            "set-form-filename": "true",
                            "Always Output Response": "false",
                            "etag-max-cache-size": "10MB",
                            "Content-Encoding": "DISABLED",
                            "disable-http2": "False",
                            "idle-timeout": "5 mins",
                            "Put Response Body In Attribute": null,
                            "Use Chunked Encoding": "false",
                            "Follow Redirects": "True",
                            "Remote URL": "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=${URL}&interval=1min&apikey=#{api_alpha_key}",
                            "form-body-form-name": null,
                            "Content-Type": "${mime.type}",
                            "flow-file-naming-strategy": "RANDOM",
                            "max-idle-connections": "5",
                            "invokehttp-proxy-user": null,
                            "Read Timeout": "15 secs",
                            "Max Length To Put In Attribute": "256",
                            "ignore-response-content": "false",
                            "Proxy Port": null,
                            "SSL Context Service": "f0dc9236-6ef8-382d-bda2-01cdf2072185",
                            "Digest Authentication": "false",
                            "HTTP Method": "GET",
                            "Add Response Headers to Request": "false",
                            "oauth2-access-token-provider": null,
                            "Basic Authentication Username": null,
                            "Include Date Header": "True",
                            "Penalize on \"No Retry\"": "false",
                            "Useragent": null
                        },
                        "propertyDescriptors": {
                            "Proxy Host": {
                                "name": "Proxy Host",
                                "displayName": "Proxy Host",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Attributes to Send": {
                                "name": "Attributes to Send",
                                "displayName": "Request Header Attributes Pattern",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "use-etag": {
                                "name": "use-etag",
                                "displayName": "Response Cache Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "proxy-configuration-service": {
                                "name": "proxy-configuration-service",
                                "displayName": "Proxy Configuration Service",
                                "identifiesControllerService": true,
                                "sensitive": false
                            },
                            "Proxy Type": {
                                "name": "Proxy Type",
                                "displayName": "Proxy Type",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Basic Authentication Password": {
                                "name": "Basic Authentication Password",
                                "displayName": "Request Password",
                                "identifiesControllerService": false,
                                "sensitive": true
                            },
                            "cookie-strategy": {
                                "name": "cookie-strategy",
                                "displayName": "Response Cookie Strategy",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Connection Timeout": {
                                "name": "Connection Timeout",
                                "displayName": "Socket Connect Timeout",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "send-message-body": {
                                "name": "send-message-body",
                                "displayName": "Request Body Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "set-form-filename": {
                                "name": "set-form-filename",
                                "displayName": "Request Multipart Form-Data Filename Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Always Output Response": {
                                "name": "Always Output Response",
                                "displayName": "Response Generation Required",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "etag-max-cache-size": {
                                "name": "etag-max-cache-size",
                                "displayName": "Response Cache Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Content-Encoding": {
                                "name": "Content-Encoding",
                                "displayName": "Request Content-Encoding",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "disable-http2": {
                                "name": "disable-http2",
                                "displayName": "HTTP/2 Disabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "idle-timeout": {
                                "name": "idle-timeout",
                                "displayName": "Socket Idle Timeout",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Put Response Body In Attribute": {
                                "name": "Put Response Body In Attribute",
                                "displayName": "Response Body Attribute Name",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Use Chunked Encoding": {
                                "name": "Use Chunked Encoding",
                                "displayName": "Request Chunked Transfer-Encoding Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Follow Redirects": {
                                "name": "Follow Redirects",
                                "displayName": "Response Redirects Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Remote URL": {
                                "name": "Remote URL",
                                "displayName": "HTTP URL",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "form-body-form-name": {
                                "name": "form-body-form-name",
                                "displayName": "Request Multipart Form-Data Name",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Content-Type": {
                                "name": "Content-Type",
                                "displayName": "Request Content-Type",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "flow-file-naming-strategy": {
                                "name": "flow-file-naming-strategy",
                                "displayName": "Response FlowFile Naming Strategy",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "max-idle-connections": {
                                "name": "max-idle-connections",
                                "displayName": "Socket Idle Connections",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "invokehttp-proxy-user": {
                                "name": "invokehttp-proxy-user",
                                "displayName": "Proxy Username",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Read Timeout": {
                                "name": "Read Timeout",
                                "displayName": "Socket Read Timeout",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Max Length To Put In Attribute": {
                                "name": "Max Length To Put In Attribute",
                                "displayName": "Response Body Attribute Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "invokehttp-proxy-password": {
                                "name": "invokehttp-proxy-password",
                                "displayName": "Proxy Password",
                                "identifiesControllerService": false,
                                "sensitive": true
                            },
                            "ignore-response-content": {
                                "name": "ignore-response-content",
                                "displayName": "Response Body Ignored",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Proxy Port": {
                                "name": "Proxy Port",
                                "displayName": "Proxy Port",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "SSL Context Service": {
                                "name": "SSL Context Service",
                                "displayName": "SSL Context Service",
                                "identifiesControllerService": true,
                                "sensitive": false
                            },
                            "Digest Authentication": {
                                "name": "Digest Authentication",
                                "displayName": "Request Digest Authentication Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "HTTP Method": {
                                "name": "HTTP Method",
                                "displayName": "HTTP Method",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Add Response Headers to Request": {
                                "name": "Add Response Headers to Request",
                                "displayName": "Response Header Request Attributes Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "oauth2-access-token-provider": {
                                "name": "oauth2-access-token-provider",
                                "displayName": "Request OAuth2 Access Token Provider",
                                "identifiesControllerService": true,
                                "sensitive": false
                            },
                            "Basic Authentication Username": {
                                "name": "Basic Authentication Username",
                                "displayName": "Request Username",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Include Date Header": {
                                "name": "Include Date Header",
                                "displayName": "Request Date Header Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Penalize on \"No Retry\"": {
                                "name": "Penalize on \"No Retry\"",
                                "displayName": "Request Failure Penalization Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Useragent": {
                                "name": "Useragent",
                                "displayName": "Request User-Agent",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [
                            "Original"
                        ],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"
                    },
                    {
                        "identifier": "4aed4d17-f5b5-3edd-ae7c-b769cc1257d8",
                        "instanceIdentifier": "ca40fb98-5ea2-3a52-b11e-5593e4a1de9a",
                        "name": "JoltTransformJSON",
                        "comments": "",
                        "position": {
                            "x": 968.0,
                            "y": 1096.0
                        },
                        "type": "org.apache.nifi.processors.standard.JoltTransformJSON",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-nar",
                            "version": "1.18.0.2.3.6.2-2"
                        },
                        "properties": {
                            "jolt-spec": "[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"Meta Data\": {\n        \"1. Information\": \"MetaData.information\",\n        \"2. Symbol\": \"MetaData.symbol\",\n        \"3. Last Refreshed\": \"MetaData.last_refreshed\",\n        \"4. Interval\": \"MetaData.interval\",\n        \"5. Output Size\": \"MetaData.output_size\",\n        \"6. Time Zone\": \"MetaData.time_zone\"\n      },\n      \"Time Series (1min)\": {\n        \"*\": {\n          \"$\": \"TimeSeries.&1.ts\",\n          \"1. open\": \"TimeSeries.&1.open\",\n          \"2. high\": \"TimeSeries.&1.high\",\n          \"3. low\": \"TimeSeries.&1.low\",\n          \"4. close\": \"TimeSeries.&1.close\",\n          \"5. volume\": \"TimeSeries.&1.volume\"\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"TimeSeries\": {\n        \"*\": {\n          \"*\": \"timeseries.&1.&\",\n          \"@(2,MetaData)\": {\n            \"*\": \"timeseries.&1.&\"\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"timeseries\": {\n        \"*\": {\n          \"*\": {\n            \"@\": \"[#3].&\"\n          }\n        }\n      }\n    }\n    }\n]",
                            "jolt-transform": "jolt-transform-chain",
                            "jolt-custom-class": null,
                            "jolt-custom-modules": null,
                            "pretty_print": "false",
                            "Transform Cache Size": "1"
                        },
                        "propertyDescriptors": {
                            "jolt-spec": {
                                "name": "jolt-spec",
                                "displayName": "Jolt Specification",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "jolt-transform": {
                                "name": "jolt-transform",
                                "displayName": "Jolt Transformation DSL",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "jolt-custom-class": {
                                "name": "jolt-custom-class",
                                "displayName": "Custom Transformation Class Name",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "jolt-custom-modules": {
                                "name": "jolt-custom-modules",
                                "displayName": "Custom Module Directory",
                                "identifiesControllerService": false,
                                "sensitive": false,
                                "resourceDefinition": {
                                    "cardinality": "MULTIPLE",
                                    "resourceTypes": [
                                        "DIRECTORY",
                                        "FILE"
                                    ]
                                }
                            },
                            "pretty_print": {
                                "name": "pretty_print",
                                "displayName": "Pretty Print",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Transform Cache Size": {
                                "name": "Transform Cache Size",
                                "displayName": "Transform Cache Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"
                    }
                ],
                "inputPorts": [
                    {
                        "identifier": "22244a3b-464a-373d-96ef-1aba2e0f6840",
                        "instanceIdentifier": "e22b7811-1c14-3db7-89b3-8d701d0dae95",
                        "name": "input parameters",
                        "position": {
                            "x": 1016.0,
                            "y": 528.0
                        },
                        "type": "INPUT_PORT",
                        "concurrentlySchedulableTaskCount": 1,
                        "scheduledState": "ENABLED",
                        "allowRemoteAccess": false,
                        "componentType": "INPUT_PORT",
                        "groupIdentifier": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"
                    }
                ],
                "outputPorts": [
                    {
                        "identifier": "bf97cfbb-f75c-39d3-b795-c44b70fc1e16",
                        "instanceIdentifier": "65768224-1604-3916-ac64-a1245cf14b8e",
                        "name": "stock data",
                        "position": {
                            "x": 1032.0,
                            "y": 1320.0
                        },
                        "type": "OUTPUT_PORT",
                        "concurrentlySchedulableTaskCount": 1,
                        "scheduledState": "ENABLED",
                        "allowRemoteAccess": false,
                        "componentType": "OUTPUT_PORT",
                        "groupIdentifier": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"
                    },
                    {
                        "identifier": "6718525d-facf-3261-b3ad-c08a0ce2cfbe",
                        "instanceIdentifier": "4b166b0e-3f92-3675-8f04-0fc8cd9dfb7b",
                        "name": "failure",
                        "position": {
                            "x": 1648.0,
                            "y": 904.0
                        },
                        "type": "OUTPUT_PORT",
                        "concurrentlySchedulableTaskCount": 1,
                        "scheduledState": "ENABLED",
                        "allowRemoteAccess": false,
                        "componentType": "OUTPUT_PORT",
                        "groupIdentifier": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"
                    }
                ],
                "connections": [
                    {
                        "identifier": "8857082f-16e3-3844-b7ce-a3ecfa086908",
                        "instanceIdentifier": "b86cd960-25a1-3d62-ba48-542fa1c3abff",
                        "name": "",
                        "source": {
                            "id": "40f3b0dc-6835-3226-9d1b-73df3f0f4588",
                            "type": "PROCESSOR",
                            "groupId": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced",
                            "name": "InvokeHTTP",
                            "comments": "",
                            "instanceIdentifier": "bbc4c2ff-61a6-37a7-984a-e4565a5e8447"
                        },
                        "destination": {
                            "id": "4aed4d17-f5b5-3edd-ae7c-b769cc1257d8",
                            "type": "PROCESSOR",
                            "groupId": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced",
                            "name": "JoltTransformJSON",
                            "comments": "",
                            "instanceIdentifier": "ca40fb98-5ea2-3a52-b11e-5593e4a1de9a"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "Response"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"
                    },
                    {
                        "identifier": "fcd0e4ec-21b4-3ce6-95f9-e6f3a9196b0e",
                        "instanceIdentifier": "032aa392-41da-38c9-a5a3-6286e8f3d928",
                        "name": "",
                        "source": {
                            "id": "40f3b0dc-6835-3226-9d1b-73df3f0f4588",
                            "type": "PROCESSOR",
                            "groupId": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced",
                            "name": "InvokeHTTP",
                            "comments": "",
                            "instanceIdentifier": "bbc4c2ff-61a6-37a7-984a-e4565a5e8447"
                        },
                        "destination": {
                            "id": "6718525d-facf-3261-b3ad-c08a0ce2cfbe",
                            "type": "OUTPUT_PORT",
                            "groupId": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced",
                            "name": "failure",
                            "instanceIdentifier": "4b166b0e-3f92-3675-8f04-0fc8cd9dfb7b"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "No Retry",
                            "Retry",
                            "Failure"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"
                    },
                    {
                        "identifier": "780c6216-a008-3cc1-b997-02ea2832b20f",
                        "instanceIdentifier": "779f0767-bc91-3f1b-a5c6-443b241de4b4",
                        "name": "",
                        "source": {
                            "id": "75e968de-2f1d-3692-9c55-263c29db5e9f",
                            "type": "PROCESSOR",
                            "groupId": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced",
                            "name": "ControlRate",
                            "comments": "",
                            "instanceIdentifier": "6f74f1fe-db79-37a7-88f2-9f7ebc163757"
                        },
                        "destination": {
                            "id": "40f3b0dc-6835-3226-9d1b-73df3f0f4588",
                            "type": "PROCESSOR",
                            "groupId": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced",
                            "name": "InvokeHTTP",
                            "comments": "",
                            "instanceIdentifier": "bbc4c2ff-61a6-37a7-984a-e4565a5e8447"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"
                    },
                    {
                        "identifier": "b6447286-b00e-3518-ba8e-68e72252e26d",
                        "instanceIdentifier": "ec189c47-50d7-3679-bf34-b7d2491f1f35",
                        "name": "",
                        "source": {
                            "id": "4aed4d17-f5b5-3edd-ae7c-b769cc1257d8",
                            "type": "PROCESSOR",
                            "groupId": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced",
                            "name": "JoltTransformJSON",
                            "comments": "",
                            "instanceIdentifier": "ca40fb98-5ea2-3a52-b11e-5593e4a1de9a"
                        },
                        "destination": {
                            "id": "bf97cfbb-f75c-39d3-b795-c44b70fc1e16",
                            "type": "OUTPUT_PORT",
                            "groupId": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced",
                            "name": "stock data",
                            "instanceIdentifier": "65768224-1604-3916-ac64-a1245cf14b8e"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"
                    },
                    {
                        "identifier": "e61739ae-6085-3309-a54b-ef48f2d443c0",
                        "instanceIdentifier": "c293df92-8170-3a25-9627-07849c2cc2cf",
                        "name": "",
                        "source": {
                            "id": "4aed4d17-f5b5-3edd-ae7c-b769cc1257d8",
                            "type": "PROCESSOR",
                            "groupId": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced",
                            "name": "JoltTransformJSON",
                            "comments": "",
                            "instanceIdentifier": "ca40fb98-5ea2-3a52-b11e-5593e4a1de9a"
                        },
                        "destination": {
                            "id": "6718525d-facf-3261-b3ad-c08a0ce2cfbe",
                            "type": "OUTPUT_PORT",
                            "groupId": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced",
                            "name": "failure",
                            "instanceIdentifier": "4b166b0e-3f92-3675-8f04-0fc8cd9dfb7b"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "failure"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"
                    },
                    {
                        "identifier": "ddf2a5ec-f505-3cd0-b7f6-1fc8adca1db7",
                        "instanceIdentifier": "0d0661b0-fcf6-352b-8caf-6540c792d5aa",
                        "name": "",
                        "source": {
                            "id": "22244a3b-464a-373d-96ef-1aba2e0f6840",
                            "type": "INPUT_PORT",
                            "groupId": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced",
                            "name": "input parameters",
                            "instanceIdentifier": "e22b7811-1c14-3db7-89b3-8d701d0dae95"
                        },
                        "destination": {
                            "id": "75e968de-2f1d-3692-9c55-263c29db5e9f",
                            "type": "PROCESSOR",
                            "groupId": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced",
                            "name": "ControlRate",
                            "comments": "",
                            "instanceIdentifier": "6f74f1fe-db79-37a7-88f2-9f7ebc163757"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            ""
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"
                    },
                    {
                        "identifier": "e93eb42b-8aa6-3e09-9b9d-329b32e38f78",
                        "instanceIdentifier": "909a66d3-9cb3-35a3-bf0f-5650449d6600",
                        "name": "",
                        "source": {
                            "id": "75e968de-2f1d-3692-9c55-263c29db5e9f",
                            "type": "PROCESSOR",
                            "groupId": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced",
                            "name": "ControlRate",
                            "comments": "",
                            "instanceIdentifier": "6f74f1fe-db79-37a7-88f2-9f7ebc163757"
                        },
                        "destination": {
                            "id": "75e968de-2f1d-3692-9c55-263c29db5e9f",
                            "type": "PROCESSOR",
                            "groupId": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced",
                            "name": "ControlRate",
                            "comments": "",
                            "instanceIdentifier": "6f74f1fe-db79-37a7-88f2-9f7ebc163757"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "failure"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [
                            {
                                "x": 1421.4892780288526,
                                "y": 699.3186094179846
                            },
                            {
                                "x": 1421.4892780288526,
                                "y": 749.3186094179846
                            }
                        ],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced"
                    }
                ],
                "labels": [],
                "funnels": [],
                "controllerServices": [],
                "variables": {},
                "parameterContextName": "Intraday_Stocks_Parameters",
                "defaultFlowFileExpiration": "0 sec",
                "defaultBackPressureObjectThreshold": 10000,
                "defaultBackPressureDataSizeThreshold": "1 GB",
                "flowFileConcurrency": "UNBOUNDED",
                "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
                "componentType": "PROCESS_GROUP",
                "groupIdentifier": "a6e63ab9-c8d0-3e7e-9086-31175e6671b9"
            },
            {
                "identifier": "e09c0614-6466-32db-bf89-a6d9b336bab0",
                "instanceIdentifier": "944e3c31-fc8e-3e57-a1b1-615b89b5bfdd",
                "name": "Get Parameters Values",
                "comments": "",
                "position": {
                    "x": -8.0,
                    "y": -728.0
                },
                "processGroups": [],
                "remoteProcessGroups": [],
                "processors": [
                    {
                        "identifier": "2424d239-42d1-352a-b73b-89c6a73e4ca9",
                        "instanceIdentifier": "ed570b53-76ed-3680-83c8-c8c83313893f",
                        "name": "SplitText",
                        "comments": "",
                        "position": {
                            "x": 1120.0,
                            "y": 1368.0
                        },
                        "type": "org.apache.nifi.processors.standard.SplitText",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-nar",
                            "version": "1.18.0.2.3.6.2-2"
                        },
                        "properties": {
                            "Remove Trailing Newlines": "true",
                            "Maximum Fragment Size": null,
                            "Header Line Marker Characters": null,
                            "Header Line Count": "0",
                            "Line Split Count": "1"
                        },
                        "propertyDescriptors": {
                            "Remove Trailing Newlines": {
                                "name": "Remove Trailing Newlines",
                                "displayName": "Remove Trailing Newlines",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Maximum Fragment Size": {
                                "name": "Maximum Fragment Size",
                                "displayName": "Maximum Fragment Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Header Line Marker Characters": {
                                "name": "Header Line Marker Characters",
                                "displayName": "Header Line Marker Characters",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Header Line Count": {
                                "name": "Header Line Count",
                                "displayName": "Header Line Count",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Line Split Count": {
                                "name": "Line Split Count",
                                "displayName": "Line Split Count",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [
                            "original",
                            "failure"
                        ],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "e09c0614-6466-32db-bf89-a6d9b336bab0"
                    },
                    {
                        "identifier": "8d51b47f-25c2-3a60-90c5-d6316400a8bd",
                        "instanceIdentifier": "67bbd919-d1f1-385d-b09d-b3a04aa24dbd",
                        "name": "List of Stocks",
                        "comments": "",
                        "position": {
                            "x": 1128.0,
                            "y": 1152.0
                        },
                        "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-nar",
                            "version": "1.18.0.2.3.6.2-2"
                        },
                        "properties": {
                            "character-set": "UTF-8",
                            "File Size": "0B",
                            "mime-type": null,
                            "generate-ff-custom-text": "#{stock_list}",
                            "Batch Size": "1",
                            "Unique FlowFiles": "false",
                            "Data Format": "Text"
                        },
                        "propertyDescriptors": {
                            "character-set": {
                                "name": "character-set",
                                "displayName": "Character Set",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "File Size": {
                                "name": "File Size",
                                "displayName": "File Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "mime-type": {
                                "name": "mime-type",
                                "displayName": "Mime Type",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "generate-ff-custom-text": {
                                "name": "generate-ff-custom-text",
                                "displayName": "Custom Text",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Batch Size": {
                                "name": "Batch Size",
                                "displayName": "Batch Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Unique FlowFiles": {
                                "name": "Unique FlowFiles",
                                "displayName": "Unique FlowFiles",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Data Format": {
                                "name": "Data Format",
                                "displayName": "Data Format",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "15 min",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "PRIMARY",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "e09c0614-6466-32db-bf89-a6d9b336bab0"
                    },
                    {
                        "identifier": "8744facd-617c-389f-8716-ed7b0e09fe3c",
                        "instanceIdentifier": "7dc3af3b-1c55-3448-b590-787b5a7c0cc8",
                        "name": "ExtractText",
                        "comments": "",
                        "position": {
                            "x": 1120.0,
                            "y": 1568.0
                        },
                        "type": "org.apache.nifi.processors.standard.ExtractText",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-nar",
                            "version": "1.18.0.2.3.6.2-2"
                        },
                        "properties": {
                            "Enable Unicode Predefined Character Classes": "false",
                            "Permit Whitespace and Comments in Pattern": "false",
                            "Enable Unicode-aware Case Folding": "false",
                            "Enable DOTALL Mode": "false",
                            "Enable Unix Lines Mode": "false",
                            "extract-text-enable-named-groups": "false",
                            "Maximum Buffer Size": "1 MB",
                            "Enable Canonical Equivalence": "false",
                            "URL": "(.*)",
                            "Enable Case-insensitive Matching": "false",
                            "Enable Multiline Mode": "false",
                            "Maximum Capture Group Length": "1024",
                            "Enable Literal Parsing of the Pattern": "false",
                            "Character Set": "UTF-8",
                            "Include Capture Group 0": "true",
                            "extract-text-enable-repeating-capture-group": "false"
                        },
                        "propertyDescriptors": {
                            "Enable Unicode Predefined Character Classes": {
                                "name": "Enable Unicode Predefined Character Classes",
                                "displayName": "Enable Unicode Predefined Character Classes",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Permit Whitespace and Comments in Pattern": {
                                "name": "Permit Whitespace and Comments in Pattern",
                                "displayName": "Permit Whitespace and Comments in Pattern",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Enable Unicode-aware Case Folding": {
                                "name": "Enable Unicode-aware Case Folding",
                                "displayName": "Enable Unicode-aware Case Folding",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Enable DOTALL Mode": {
                                "name": "Enable DOTALL Mode",
                                "displayName": "Enable DOTALL Mode",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Enable Unix Lines Mode": {
                                "name": "Enable Unix Lines Mode",
                                "displayName": "Enable Unix Lines Mode",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "extract-text-enable-named-groups": {
                                "name": "extract-text-enable-named-groups",
                                "displayName": "Enable named group support",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Maximum Buffer Size": {
                                "name": "Maximum Buffer Size",
                                "displayName": "Maximum Buffer Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Enable Canonical Equivalence": {
                                "name": "Enable Canonical Equivalence",
                                "displayName": "Enable Canonical Equivalence",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "URL": {
                                "name": "URL",
                                "displayName": "URL",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Enable Case-insensitive Matching": {
                                "name": "Enable Case-insensitive Matching",
                                "displayName": "Enable Case-insensitive Matching",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Enable Multiline Mode": {
                                "name": "Enable Multiline Mode",
                                "displayName": "Enable Multiline Mode",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Maximum Capture Group Length": {
                                "name": "Maximum Capture Group Length",
                                "displayName": "Maximum Capture Group Length",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Enable Literal Parsing of the Pattern": {
                                "name": "Enable Literal Parsing of the Pattern",
                                "displayName": "Enable Literal Parsing of the Pattern",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Character Set": {
                                "name": "Character Set",
                                "displayName": "Character Set",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Include Capture Group 0": {
                                "name": "Include Capture Group 0",
                                "displayName": "Include Capture Group 0",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "extract-text-enable-repeating-capture-group": {
                                "name": "extract-text-enable-repeating-capture-group",
                                "displayName": "Enable repeating capture group",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [
                            "unmatched"
                        ],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "e09c0614-6466-32db-bf89-a6d9b336bab0"
                    }
                ],
                "inputPorts": [],
                "outputPorts": [
                    {
                        "identifier": "e276d4e1-8a1d-32d2-87e8-a94c109e3ebb",
                        "instanceIdentifier": "d85c7583-12e5-30db-bb72-c6924c14aa1e",
                        "name": "parameters",
                        "position": {
                            "x": 1176.0,
                            "y": 1776.0
                        },
                        "type": "OUTPUT_PORT",
                        "concurrentlySchedulableTaskCount": 1,
                        "scheduledState": "ENABLED",
                        "allowRemoteAccess": false,
                        "componentType": "OUTPUT_PORT",
                        "groupIdentifier": "e09c0614-6466-32db-bf89-a6d9b336bab0"
                    }
                ],
                "connections": [
                    {
                        "identifier": "ba6a0650-aa09-3c38-b4c5-b9c780c96ec8",
                        "instanceIdentifier": "a2dffbcc-6301-3e64-946d-f058d9e98a01",
                        "name": "",
                        "source": {
                            "id": "2424d239-42d1-352a-b73b-89c6a73e4ca9",
                            "type": "PROCESSOR",
                            "groupId": "e09c0614-6466-32db-bf89-a6d9b336bab0",
                            "name": "SplitText",
                            "comments": "",
                            "instanceIdentifier": "ed570b53-76ed-3680-83c8-c8c83313893f"
                        },
                        "destination": {
                            "id": "8744facd-617c-389f-8716-ed7b0e09fe3c",
                            "type": "PROCESSOR",
                            "groupId": "e09c0614-6466-32db-bf89-a6d9b336bab0",
                            "name": "ExtractText",
                            "comments": "",
                            "instanceIdentifier": "7dc3af3b-1c55-3448-b590-787b5a7c0cc8"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "splits"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "e09c0614-6466-32db-bf89-a6d9b336bab0"
                    },
                    {
                        "identifier": "36a6f5cd-f361-3578-8e2f-00d323fd5eab",
                        "instanceIdentifier": "8e9e41e7-c22e-3c18-b566-9c0f00be39de",
                        "name": "",
                        "source": {
                            "id": "8744facd-617c-389f-8716-ed7b0e09fe3c",
                            "type": "PROCESSOR",
                            "groupId": "e09c0614-6466-32db-bf89-a6d9b336bab0",
                            "name": "ExtractText",
                            "comments": "",
                            "instanceIdentifier": "7dc3af3b-1c55-3448-b590-787b5a7c0cc8"
                        },
                        "destination": {
                            "id": "e276d4e1-8a1d-32d2-87e8-a94c109e3ebb",
                            "type": "OUTPUT_PORT",
                            "groupId": "e09c0614-6466-32db-bf89-a6d9b336bab0",
                            "name": "parameters",
                            "instanceIdentifier": "d85c7583-12e5-30db-bb72-c6924c14aa1e"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "matched"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "e09c0614-6466-32db-bf89-a6d9b336bab0"
                    },
                    {
                        "identifier": "a4644117-1b84-3236-b7a6-a80524245025",
                        "instanceIdentifier": "9e3c8bb9-e996-3679-92b9-5fcb1261b98e",
                        "name": "",
                        "source": {
                            "id": "8d51b47f-25c2-3a60-90c5-d6316400a8bd",
                            "type": "PROCESSOR",
                            "groupId": "e09c0614-6466-32db-bf89-a6d9b336bab0",
                            "name": "List of Stocks",
                            "comments": "",
                            "instanceIdentifier": "67bbd919-d1f1-385d-b09d-b3a04aa24dbd"
                        },
                        "destination": {
                            "id": "2424d239-42d1-352a-b73b-89c6a73e4ca9",
                            "type": "PROCESSOR",
                            "groupId": "e09c0614-6466-32db-bf89-a6d9b336bab0",
                            "name": "SplitText",
                            "comments": "",
                            "instanceIdentifier": "ed570b53-76ed-3680-83c8-c8c83313893f"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "e09c0614-6466-32db-bf89-a6d9b336bab0"
                    }
                ],
                "labels": [],
                "funnels": [],
                "controllerServices": [],
                "variables": {},
                "parameterContextName": "Intraday_Stocks_Parameters",
                "defaultFlowFileExpiration": "0 sec",
                "defaultBackPressureObjectThreshold": 10000,
                "defaultBackPressureDataSizeThreshold": "1 GB",
                "flowFileConcurrency": "UNBOUNDED",
                "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
                "componentType": "PROCESS_GROUP",
                "groupIdentifier": "a6e63ab9-c8d0-3e7e-9086-31175e6671b9"
            }
        ],
        "remoteProcessGroups": [],
        "processors": [],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "4df09c46-e0af-3628-807a-6d94bc76288f",
                "instanceIdentifier": "625a73ac-c26e-3887-a665-03cc5077a242",
                "name": "",
                "source": {
                    "id": "edf94af2-39bb-34fc-ba0a-3fdf04f01d24",
                    "type": "OUTPUT_PORT",
                    "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                    "name": "failure",
                    "instanceIdentifier": "258df782-c67c-39fd-bf29-0467d3375366"
                },
                "destination": {
                    "id": "4b072b68-a407-3bcc-b098-11cda792cb71",
                    "type": "FUNNEL",
                    "groupId": "a6e63ab9-c8d0-3e7e-9086-31175e6671b9",
                    "name": "Funnel",
                    "comments": "",
                    "instanceIdentifier": "209ba8ac-f359-39da-9acb-513b42a258c1"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    ""
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "a6e63ab9-c8d0-3e7e-9086-31175e6671b9"
            },
            {
                "identifier": "7732f14d-9416-3725-a27f-163299690aef",
                "instanceIdentifier": "ce5ee90d-b10c-3490-8c7c-e8b5a724948d",
                "name": "",
                "source": {
                    "id": "e276d4e1-8a1d-32d2-87e8-a94c109e3ebb",
                    "type": "OUTPUT_PORT",
                    "groupId": "e09c0614-6466-32db-bf89-a6d9b336bab0",
                    "name": "parameters",
                    "instanceIdentifier": "d85c7583-12e5-30db-bb72-c6924c14aa1e"
                },
                "destination": {
                    "id": "22244a3b-464a-373d-96ef-1aba2e0f6840",
                    "type": "INPUT_PORT",
                    "groupId": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced",
                    "name": "input parameters",
                    "instanceIdentifier": "e22b7811-1c14-3db7-89b3-8d701d0dae95"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    ""
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "a6e63ab9-c8d0-3e7e-9086-31175e6671b9"
            },
            {
                "identifier": "c3fc566a-d3ee-38c4-ad57-f439d3961c30",
                "instanceIdentifier": "aa7d000e-89ce-32b6-82fb-2f56e449d354",
                "name": "",
                "source": {
                    "id": "bf97cfbb-f75c-39d3-b795-c44b70fc1e16",
                    "type": "OUTPUT_PORT",
                    "groupId": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced",
                    "name": "stock data",
                    "instanceIdentifier": "65768224-1604-3916-ac64-a1245cf14b8e"
                },
                "destination": {
                    "id": "322f86de-16a6-39ac-9b34-e19d743ec5af",
                    "type": "INPUT_PORT",
                    "groupId": "f2be7df3-2275-3297-beb4-9e8851062ae1",
                    "name": "Stock Data Values",
                    "instanceIdentifier": "6d446871-b626-34be-ad2a-0bdb45caaa3d"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    ""
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "a6e63ab9-c8d0-3e7e-9086-31175e6671b9"
            },
            {
                "identifier": "f0a8b985-ff2f-344f-bb40-c1b7181addae",
                "instanceIdentifier": "7ab00508-e51d-3a35-8511-caeb5c7708ba",
                "name": "",
                "source": {
                    "id": "6718525d-facf-3261-b3ad-c08a0ce2cfbe",
                    "type": "OUTPUT_PORT",
                    "groupId": "2047eaa2-0227-3ada-89a7-2fbc3ddf8ced",
                    "name": "failure",
                    "instanceIdentifier": "4b166b0e-3f92-3675-8f04-0fc8cd9dfb7b"
                },
                "destination": {
                    "id": "4b072b68-a407-3bcc-b098-11cda792cb71",
                    "type": "FUNNEL",
                    "groupId": "a6e63ab9-c8d0-3e7e-9086-31175e6671b9",
                    "name": "Funnel",
                    "comments": "",
                    "instanceIdentifier": "209ba8ac-f359-39da-9acb-513b42a258c1"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    ""
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "a6e63ab9-c8d0-3e7e-9086-31175e6671b9"
            }
        ],
        "labels": [],
        "funnels": [
            {
                "identifier": "4b072b68-a407-3bcc-b098-11cda792cb71",
                "instanceIdentifier": "209ba8ac-f359-39da-9acb-513b42a258c1",
                "position": {
                    "x": -312.0,
                    "y": -192.0
                },
                "componentType": "FUNNEL",
                "groupIdentifier": "a6e63ab9-c8d0-3e7e-9086-31175e6671b9"
            }
        ],
        "controllerServices": [
            {
                "identifier": "f0dc9236-6ef8-382d-bda2-01cdf2072185",
                "instanceIdentifier": "1e351a19-0184-1000-0000-0000023ddba2",
                "name": "Default NiFi SSL Context Service",
                "type": "org.apache.nifi.ssl.StandardRestrictedSSLContextService",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-ssl-context-service-nar",
                    "version": "1.18.0.2.3.6.2-2"
                },
                "properties": {
                    "Truststore Type": "JKS",
                    "SSL Protocol": "TLS",
                    "Keystore Type": "JKS",
                    "Truststore Filename": "/home/nifi/additional/secret/ssl_truststore/ssl-truststore.jks",
                    "Keystore Filename": "/home/nifi/additional/secret/ssl_keystore/ssl-keystore.jks"
                },
                "propertyDescriptors": {
                    "Truststore Type": {
                        "name": "Truststore Type",
                        "displayName": "Truststore Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "SSL Protocol": {
                        "name": "SSL Protocol",
                        "displayName": "TLS Protocol",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Keystore Type": {
                        "name": "Keystore Type",
                        "displayName": "Keystore Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Truststore Filename": {
                        "name": "Truststore Filename",
                        "displayName": "Truststore Filename",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        }
                    },
                    "Keystore Password": {
                        "name": "Keystore Password",
                        "displayName": "Keystore Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "key-password": {
                        "name": "key-password",
                        "displayName": "Key Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "Truststore Password": {
                        "name": "Truststore Password",
                        "displayName": "Truststore Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "Keystore Filename": {
                        "name": "Keystore Filename",
                        "displayName": "Keystore Filename",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        }
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.ssl.RestrictedSSLContextService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.18.0.2.3.6.2-2"
                        }
                    },
                    {
                        "type": "org.apache.nifi.ssl.SSLContextService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.18.0.2.3.6.2-2"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "1e351b6d-0184-1000-0000-00001748bda2"
            },
            {
                "identifier": "d82914ab-c104-3b29-97d0-4fbad6e05bee",
                "instanceIdentifier": "b2362f41-1549-3f91-934e-2d33e1dfe8ff",
                "name": "CSVRecordSetWriter",
                "comments": "",
                "type": "org.apache.nifi.csv.CSVRecordSetWriter",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "1.18.0.2.3.6.2-2"
                },
                "properties": {
                    "schema-branch": null,
                    "CSV Format": "custom",
                    "Quote Character": "\"",
                    "Include Header Line": "false",
                    "Value Separator": ",",
                    "schema-cache": null,
                    "Record Separator": "\\n",
                    "Timestamp Format": null,
                    "Escape Character": "\\",
                    "Date Format": null,
                    "Schema Write Strategy": "no-schema",
                    "Null String": null,
                    "Trim Fields": "true",
                    "schema-name": "${schema.name}",
                    "schema-registry": null,
                    "Time Format": null,
                    "Comment Marker": null,
                    "schema-access-strategy": "inherit-record-schema",
                    "schema-protocol-version": "1",
                    "schema-version": null,
                    "csvutils-character-set": "UTF-8",
                    "schema-text": "${avro.schema}",
                    "Quote Mode": "MINIMAL",
                    "Include Trailing Delimiter": "false"
                },
                "propertyDescriptors": {
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "CSV Format": {
                        "name": "CSV Format",
                        "displayName": "CSV Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Quote Character": {
                        "name": "Quote Character",
                        "displayName": "Quote Character",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Include Header Line": {
                        "name": "Include Header Line",
                        "displayName": "Include Header Line",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Value Separator": {
                        "name": "Value Separator",
                        "displayName": "Value Separator",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-cache": {
                        "name": "schema-cache",
                        "displayName": "Schema Cache",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Record Separator": {
                        "name": "Record Separator",
                        "displayName": "Record Separator",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Escape Character": {
                        "name": "Escape Character",
                        "displayName": "Escape Character",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Schema Write Strategy": {
                        "name": "Schema Write Strategy",
                        "displayName": "Schema Write Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Null String": {
                        "name": "Null String",
                        "displayName": "Null String",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Trim Fields": {
                        "name": "Trim Fields",
                        "displayName": "Trim Fields",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Comment Marker": {
                        "name": "Comment Marker",
                        "displayName": "Comment Marker",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-protocol-version": {
                        "name": "schema-protocol-version",
                        "displayName": "Schema Protocol Version",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "csvutils-character-set": {
                        "name": "csvutils-character-set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Quote Mode": {
                        "name": "Quote Mode",
                        "displayName": "Quote Mode",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Include Trailing Delimiter": {
                        "name": "Include Trailing Delimiter",
                        "displayName": "Include Trailing Delimiter",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.18.0.2.3.6.2-2"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "a6e63ab9-c8d0-3e7e-9086-31175e6671b9"
            },
            {
                "identifier": "0dd7f2f8-4c59-376d-b5b7-f16faa279c1b",
                "instanceIdentifier": "e79301d5-9f39-3310-a6a2-a9d7ee0635c7",
                "name": "JsonPathReader",
                "comments": "",
                "type": "org.apache.nifi.json.JsonPathReader",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "1.18.0.2.3.6.2-2"
                },
                "properties": {
                    "symbol": "$.symbol",
                    "schema-branch": null,
                    "output_size": "$.output_size",
                    "time_zone": "$.time_zone",
                    "last_refreshed": "$.last_refreshed",
                    "Timestamp Format": "yyyy-MM-dd HH:mm:ss",
                    "volume": "$.volume",
                    "Date Format": null,
                    "high": "$.high",
                    "low": "$.low",
                    "schema-name": "${schema.name}",
                    "schema-registry": null,
                    "Time Format": null,
                    "interval": "$.interval",
                    "schema-access-strategy": "schema-text-property",
                    "schema-version": null,
                    "schema-text": "${avro.schema}",
                    "close": "$.close",
                    "open": "$.open",
                    "ts": "$.ts"
                },
                "propertyDescriptors": {
                    "symbol": {
                        "name": "symbol",
                        "displayName": "symbol",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "output_size": {
                        "name": "output_size",
                        "displayName": "output_size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "time_zone": {
                        "name": "time_zone",
                        "displayName": "time_zone",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "last_refreshed": {
                        "name": "last_refreshed",
                        "displayName": "last_refreshed",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "volume": {
                        "name": "volume",
                        "displayName": "volume",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "high": {
                        "name": "high",
                        "displayName": "high",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "low": {
                        "name": "low",
                        "displayName": "low",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "interval": {
                        "name": "interval",
                        "displayName": "interval",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "close": {
                        "name": "close",
                        "displayName": "close",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "open": {
                        "name": "open",
                        "displayName": "open",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "ts": {
                        "name": "ts",
                        "displayName": "ts",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordReaderFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.18.0.2.3.6.2-2"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "a6e63ab9-c8d0-3e7e-9086-31175e6671b9"
            }
        ],
        "variables": {},
        "parameterContextName": "Intraday_Stocks_Parameters",
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP"
    },
    "externalControllerServices": {},
    "parameterContexts": {
        "Intraday_Stocks_Parameters": {
            "name": "Intraday_Stocks_Parameters",
            "parameters": [
                {
                    "name": "workload_password",
                    "description": "",
                    "sensitive": true,
                    "provided": false
                },
                {
                    "name": "s3_path",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "stocks"
                },
                {
                    "name": "api_alpha_key",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "example: YBLZHBE79HV1QLRT"
                },
                {
                    "name": "workload_username",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "example: user01"
                },
                {
                    "name": "stock_list",
                    "description": "",
                    "sensitive": false,
                    "provided": false,
                    "value": "IBM\nGOOGL\nAMZN\nMSFT"
                }
            ],
            "inheritedParameterContexts": [],
            "componentType": "PARAMETER_CONTEXT"
        }
    },
    "flowEncodingVersion": "1.0",
    "parameterProviders": {},
    "latest": false
}